.card {
  grid-column: span 12;

  background-color: var(--secondary-background-color);
  border-radius: 1rem;
  border: 1px solid black;
  margin: 1rem;
  padding: 0.5rem;

  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.card__title {
  text-align: center;
}

.card__pic {
  width: 100%;
  aspect-ratio: 1/1;
  object-fit: cover;
  border-radius: 1rem;
}

.card__desc {
  display: -webkit-box;
  line-clamp: 1;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card__btn {
  color: var(--button-text-color);
  font-size: 1rem;

  background-color: var(--button-background-color);
  border: none;
  border-radius: 0.5rem;
  padding: 4px;

  cursor: pointer;

  align-self: flex-end;
}

.card__btn:hover {
  background-color: var(--qc-pink);
}
 

/**************************/
/* For Larger Screens */
/**************************/
@media (min-width: 30rem) {
  .card {
    grid-column: span 6;
  }
}

@media (min-width: 50rem) {
  .card {
    grid-column: span 4;
  }
}
