.modal {
  width: 90%;
  max-width: 500px;

  padding: 2rem;
  border: none;
  border-radius: 0.5rem;
  color: var(--primary-text-color);
  background: var(--secondary-background-color);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);

  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.modal::backdrop {
  background: rgba(0, 0, 0, 0.5);
}

.modal__close {
  position: absolute;
  top: 10px;
  right: 10px;
  background: transparent;
  border: none;
  cursor: pointer;
}

.modal__content {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.modal__pic {
  object-fit: cover;
  width: 100%;
  height: auto;
}

.modal__title {
  text-align: center;
  color: var(--heading-text-color);
}

.modal__date {
  color: var(--secondary-text-color);
  font-size: 0.85rem;
  font-style: italic;
  align-self: flex-end;
}

.modal__description {
  line-height: 1.5;
}

.modal__description::first-letter {
  font-size: 3rem;
  font-weight: bold;

  float: left;
  line-height: 1;

  padding: 0 0.3rem;
  margin: 0 0.3rem 0 0;
}

.modal__fav-toggle {
  background-color: var(--qc-pink);
  color: var(--qc-light);
  border: none;
  border-radius: 0.5rem;

  font-weight: 600;
  font-size: 0.95rem;

  padding: 0.5rem 0;
  width: 11rem;

  cursor: pointer;
  align-self: flex-end;
}

.modal__fav-toggle:hover {
  box-shadow: 3px 3px 6px 2px rgb(215 203 203 / 20%);
}

.modal__comments {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.modal__comment p {
  margin-left: 1rem;
}

.modal__no-comments {
  color: var(--secondary-text-color);
  font-style: italic;
}

.modal__comment-form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.modal__label {
  font-weight: 700;
  color: var(--heading-text-color);
}

.modal__input {
  font-size: 1rem;
}

.modal__btn-submit {
  color: var(--button-text-color);
  font-size: 1rem;
  width: max-content;

  background-color: var(--button-background-color);
  border: none;
  border-radius: 0.5rem;
  padding: 4px;

  align-self: flex-end;
}

/**************************/
/* ANIMATION */
/**************************/
@media (prefers-reduced-motion: no-preference) {
  .modal__fav-toggle {
    transition: transform 0.3s ease;
  }

  .modal__fav-toggle:hover {
    transform: scale(1.1);
  }
}
