* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

  --primary-background-color: #271c19;
  --secondary-background-color: #55423d;

  --heading-text-color: #fffffe;
  --primary-text-color: #fff3ec;
  --secondary-text-color: #a7a9be;

  --qc-pink: #e78fb3;
  --qc-orange: #ffc0ad;
  --qc-purple: #9656a1;
  --qc-dark: #140d0b;
}

body {
  background-color: var(--primary-background-color);
  color: var(--primary-text-color);

  padding: 1rem;
}

a {
  font-weight: 500;
  color: var(--primary-text-color);
}
a:hover {
  color: var(--qc-pink);
}

/**************************/
/* Theme */
/**************************/
[data-theme="dark"] {
  --primary-background-color: #271c19;
  --secondary-background-color: #55423d;
  --tertiary-background-color: #140d0b;

  --heading-text-color: #fffffe;
  --primary-text-color: #fff3ec;
  --secondary-text-color: #a7a9be;
}

[data-theme="light"] {
  --primary-background-color: #f9f4ef;
  --secondary-background-color: #fffffe;
  --tertiary-background-color: #f0e7db;

  --heading-text-color: #020826;
  --primary-text-color: #716040;
  --secondary-text-color: #a7a9be;
}

.theme-option {
  height: 25px;
  width: 25px;
  border-width: 2.5px;
  border-style: solid;
  border-radius: 50%;
  cursor: pointer;
}

#theme-light {
  background-color: #fffffe;
  border-color: var(--secondary-text-color);
}

#theme-dark {
  background-color: var(--qc-dark);
  border-color: var(--secondary-text-color);
}

.theme-options {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  justify-content: center;
}

/**************************/
/* Footer */
/**************************/
footer {
  padding-top: 0.5rem;
  text-align: center;
  width: 100%;
}

.footer__text {
  color: var(--secondary-text-color);
  font-size: 0.85rem;
  padding: 5px 0;
}
