.header__title {
  color: var(--heading-text-color);
  text-align: center;
}

.nav {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.nav__mobile-toggle {
  display: block;
  font-size: 1.5rem;

  background-color: transparent;
  color: var(--heading-text-color);
  border: none;
}

.nav__menu {
  display: none;
  flex-direction: column;
  gap: 0.5rem;
  list-style: none;
}

.nav__menu.open {
  display: flex;
  flex-direction: column;
  background-color: var(--secondary-background-color);
  padding: 0.5rem;
  box-shadow: 7px 7px 10px rgb(238 236 236 / 19%);
}

.nav__menu a {
  color: var(--primary-text-color);
  padding: 0.5rem;
}

.nav__menu a:hover, .nav__menu span:hover {
  color: var(--qc-pink);
}

.dropdown {
  cursor: pointer;
}

.dropdown__content {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  list-style: none;
  padding-top: 0.5rem;
}

.dropdown__icon {
  font-size: 0.75rem;
}

/**************************/
/* For Larger Screens */
/**************************/
@media (min-width: 40rem) {
  .header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }

  .nav__mobile-toggle {
    display: none;
  }

  .nav__menu {
    display: flex;
    flex-direction: row;
    gap: 1rem;
  }

  .dropdown {
    position: relative;
  }

  .dropdown__content {
    background-color: var(--secondary-background-color);
    box-shadow: 7px 7px 10px rgb(238 236 236 / 19%);
    padding: 0.5rem;

    position: absolute;
    width: max-content;
  }
}
